.addToCartMain{
    width:100%;
    overflow: hidden;
    position:relative;
    display: flex;
}
.addToCartMain .similar{
    width:100px;
    overflow: hidden;
}
.addToCartMain .similar img{
    width:60px;
    display: block;
    margin: 10px auto;
    border:1px solid black;
    border-radius:3px;
    padding:5px;
    cursor:pointer;
}
.addToCartMain .active{
    border:2px solid chocolate !important;
}
.addToCartMain .productImages{
    width:48%;
}
.addToCartMain .productImgFixed{
    display: flex;
    width:100%;
}
.addToCartMain .productImagesNormal{
    position: absolute;
    bottom:40px;
    width:48%;
}
.addToCartMain .productImagesFixed{
    position: fixed;
    top:15px;
    width:48%;
}
.addToCartMain .mainProductImg{
    width:80%;
    overflow: hidden;
}
.addToCartMain .mainProductImg img{
    width:100%;
    margin: auto;
    margin-top:50px;
    position: relative;
}
.addToCartMain .productDetails{
    width:30%;
    padding-top:50px;
    position: relative;
    margin-right:10px;
    margin-bottom:20px;
}
.addToCartMain .productDetails h3{
    font-size:26px;
    line-height:35px;
}
a{
    font-size:13px;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
    color:red;
}
.addToCartMain .productDetails .rating{
    margin: 0;
}
.addToCartMain .productDetails .rating .rat{
    color:chocolate;
}
.addToCartMain .aboutProduct{
    border-bottom: 1px solid #ddd;
}
.addToCartMain .productStatus h5{
    margin-top: 5px;
    margin-bottom:20px;
}
.addToCartMain p{
    font-size:13px;
    margin-bottom: 0;
}
.addToCartMain .productStatus span{
    position:absolute;
    left: 150px;
}
.addToCartMain .productStatus{
    border-bottom: 1px solid #ddd;
}
.addToCartMain .productInformation{
    border-bottom:1px solid #ddd;
}
.addToCartMain .productInformation h6{
    font-weight: 800;
    margin-top:10px;
}
.addToCartMain .productInformation p{
    font-size:13px;
    margin-bottom: 0;
    max-height:350px;
    overflow: hidden;
}
.addToCartMain .productInformation .showLess{
    display:none;
}
.addToCartMain .productInformation a{
    display: block;
}
.addToCartMain{
    border-bottom:1px solid #ddd;
}
.addToCartMain .aboutDeliveryStatus{
    width:90%;
    border:1px solid #ddd;
    border-radius:20px;
    margin-top:60px;
    padding:15px;
    height:100%;
    position: relative;
}
.deliveryNormal{
    position: absolute;
    bottom:40px !important;
    width:18%;
}
.addDeliveryFix{
    width:20%;
    position: fixed;
    top:15px;
}
.deliveryFix{
    width:20%;
}
.addToCartMain .aboutDeliveryStatus h5{
    color:rgb(192, 77, 77);
}
.addToCartMain .delivery{
    margin-top:20px;
}
.addToCartMain .deliveryTime{
    color:green
}
.addToCartMain .deliveryTo{
    margin-top:15px;
    text-align: center;
}
.addToCartMain .deliveryTo span{
    color: cornflowerblue;
}
.addToCartMain .aboutDeliveryStatus .stock{
    margin:10px 0;
}
.addToCartMain .aboutDeliveryStatus button{
    border:none;
    width:100%;
    border-radius:20px;
    padding:7px;
    margin-bottom:10px;
    font-size:13px;
    background-color:rgb(248, 226, 26);
}
.addToCartMain .aboutDeliveryStatus .buynow{
    background-color:rgb(248, 170, 26);
}
.addToCartMain .aboutDeliveryStatus .secure{
    color:gray;
}
.addToCartMain .aboutDeliveryStatus .secure span{
    font-weight: 500;
    color: cornflowerblue;
}
.addToCartMain .deliveryFrom span{
    color:gray;
}
.addToCartMain .deliveryFrom .form{
    color: black;
    position: absolute;
    left:83px;
}
.addToCartMain .deliveryFrom{
    margin-top:10px;
    border-bottom: 1px solid #ddd;
}
.magnifierFirst{
    width:150px;
    height:150px;
    position: absolute;
    background-color:#7ed5df6c;
    z-index: 999;
}
.addZoomStyle{
    width:50%;
    position:fixed;
    right:2%;
    top:50px;
    height:80vh;
    z-index:999;
    border: 1px solid gray;
    box-shadow:2px 2px 20px #ddd;
    background-color: white;
}
.similarItems{
    position:relative;
    margin-bottom:20px;
}
.similarItems .product{
    width:200px;
    height:auto;
    margin:0 10px;
}
.similarItems .product img{
    width:95%;
    margin: auto;
    display: block;
    height:auto;
}
.similarItems>h5{
    color:rgb(192, 77, 77);
    margin-top:15px;
    margin-left:15px;
}
.similarItems .product h5{
    color:rgb(192, 77, 77);
}
.similarItems .product h6{
    font-size:14px;
    width:150px;
    margin-left:10px;
    margin-bottom:0;
}
.similarItems .product a{
    text-decoration:none;
}
.similarItems .product a:hover{
    text-decoration:underline;
    color: red;
}
.similarItems .product .rating{
    color:gold;
    margin-left:10px;
}
.similarItems .product h5{
    margin-left:10px;
}
.similarItems .similarImages{
    display:flex;
    width:93%;
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
}
.similarSliderArrow .leftArrow{
    position: absolute;
    left:10px;
    top:250px !important;
    border-radius: 7px;
    border:1px solid #ddd;
    padding:5px 10px;
    z-index:9999;
    cursor:pointer;
    overflow: hidden;
    display: block;
}
.similarSliderArrow .rightArrow{
    position: absolute;
    right:10px !important;
    top:250px !important;
    border-radius: 7px;
    border:1px solid #ddd;
    padding:5px 10px;
    z-index:9999;
    cursor:pointer;
    overflow: hidden;
    display: block;
}
.pageCount{
    text-align: right;
}
.addToCartInMobile{
    display: none;
}
form select{
    margin-left:10px;
    padding:5px 15px;
}
.productImagesInMobile::-webkit-scrollbar {
    height: 7px !important;
}

.productImagesInMobile::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
  }
   
  /* Handle */
.productImagesInMobile::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}
.productSlider .productImages:hover .productImagesInMobile::-webkit-scrollbar-thumb{
    background: rgb(202, 198, 198); 
}
  /* Handle on hover */
.productImagesInMobile::-webkit-scrollbar-thumb:hover {
    background: gray !important; 
  }
@media screen and (max-width:1150px){
    .deliveryFrom{
        display: none;
    }
    .productImages{
        width:45%;
    }
    .addDeliveryFix{
        width:23%;
        right:5px;
    }
    .productImagesFixed{
        width:45%;
    }
    .deliveryFix{
        width:23%;
        margin-right:5px;
    }
    .deliveryNormal{
        width:23%;
        right:5px;
    }
}
@media screen and (max-width:850px){
    .deliveryFrom{
        display: block;
    }
    .similar{
        display: none;
    }
    .AddToCartInPc{
        display:none;
    }
    .addToCartInMobile{
        display: block;
        width:100%;
        overflow: hidden;
        padding:10px;
    }
    .addToCartInMobile h6{
        margin-bottom: 0;
        font-size:16px;
    }
    .addToCartInMobile .productImagesInMobile{
        width:80%;
        margin:auto;
        display: flex;
        overflow-x:scroll;
        position: relative;
        scroll-behavior: smooth;
    }
    .addToCartInMobile .productImagesInMobile img{
        max-width:75vw;
    }
    .arrowMobile{
        top:20% !important;
    }
    .addToCartInMobile button{
        border:none;
        width:95%;
        border-radius:10px;
        padding:15px;
        margin-bottom:10px;
        font-size:13px;
        background-color:rgb(248, 226, 26);
    }
    .addToCartInMobile .buynow{
        background-color:rgb(248, 170, 26);
    }
    .addToCartInMobile h5{
        color:rgb(192, 77, 77);
    }

    .addToCartInMobile .aboutDeliveryStatus .secure{
        color:gray;
    }
    .addToCartInMobile .aboutDeliveryStatus .secure span{
        font-weight: 500;
        color: cornflowerblue;
    }
    .addToCartInMobile .deliveryFrom span{
        color:gray;
    }
    .addToCartInMobile .deliveryFrom .form{
        color: black;
        position: absolute;
        left:83px;
    }
    .addToCartInMobile .deliveryFrom{
        margin-top:10px;
        border-bottom: 1px solid #ddd;
    }
}
